a{
    
    font-size: 12px;
    font-weight: 700;
}

button{
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 0;
}