:root {
    // background 
    --background-header-color: #F8F9FC;
    --background-footer-color: #202942;

    // text
    --first-text-color: #8C98A4;
    --second-text-color: #2F55D4;

    //btn
    --background-btn-color: #E4E9F8;
    --background-btn-color: #2F55D4;

    //quickstart section
    --background-first-quick-color: #3C4858;
    --background-second-quick-color: #4F5A69;
    --text-quick-color: #2FC68A;
}