:root {
    // background 
    --background-first-color: #F8F9FC;
    --background-second-color: #EAEEFB;
    --background-third-color: #202942;

    // text
    --first-text-color: #656b72;
    --second-text-color: #2F55D4;

    //btn
    --background-btn-first-color: #E4E9F8;
    --background-btn-second-color: #2F55D4;

    //quickstart section
    --background-first-quick-color: #3C4858;
    --background-second-quick-color: #4F5A69;
    --text-quick-color: #2FC68A;
}